
.commonRightMenu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff !important;
  }
  
  .commonRightMenu {
    overflow: auto;
  
    height: 670px;
  }
  
  .sideRightAffix .ant-affix{
    overflow: auto;
  }
  
  .sideRightAffix .ant-layout-sider{
    overflow: auto;
  
    height: 670px;
  }
  
  .sideRightAffix .ant-layout{
    overflow: auto;
  }
  
  .sideRightAffix .ant-layout-sider-children{
    overflow: auto;
  }
  
  .siderrighticon {
      padding-top: 600%;
      padding-bottom: 600%;
    
      font-size: 30px;
      
      transition: all .3s;
    
      color: #555;
    
      cursor: pointer;
  }
  
  .sideShopping {
    width: 650px;
    height: 140px;
  
    text-align: left;
  
    position: relative;
  }
  
  .sideShopping h1 {
    height: 70px;
  
    padding-left: 80px;
  
    font-size: 26px;
    line-height: 70px;
    font-family: Microsoft YaHei;
  }
  
  .sideShopping p {
    height: 20px;
  
    padding-left: 80px;
  
    font-size: 20px;
    line-height: 20px;
    font-family: Microsoft YaHei;
  }
  
  .sideShopping i {
    position: absolute;
    top: 15px;
    right: 80px;
  
    font-size: 36px;
  }
  
  .sideShoppingBox{
    position: relative;
  }
  
  .sideShoppingBox .ant-checkbox{ 
    position: absolute;
    top: 10px;
  }
  
  .sideShoppingBox .ant-checkbox-inner{
    width: 36px;
    height: 36px;
  
    border-radius: 18px;
  }
  
  .sideShoppingBox .ant-checkbox-inner::after{
    left: 12px;
    top: 4px;
  
    width:10px;
    height: 20px;
  
    border-color: #e31436;
  }
  
  .sideShoppingBox .ant-checkbox-checked::after{
    border: none;
  }
  
  .sideShoppingBox .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: #fff;
  }
  
  .sideShoppingBox .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #e31436;
  }
  
  .sideShoppingBox .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
    border-color: #e31436;
  }
  
  .sideShoppingBox .ant-checkbox-inner {
    border-color: #000;
  }
  
  .sideShoppingBox a:first-of-type{
    position: absolute;
    top: 8px;
    left: 56px;
  
    color: #000;
    font-style: 20px;
  }
  
  .sideShoppingBox span:first-of-type{
    color: #000;
    font-style: 20px;
  }
  
  .sideShoppingBox img {
    width: 200px;
    height: 200px;
  
    position: absolute;
    top: 56px;
    left: 80px;
  
    transition: all .5s;
  }
  
  .sideShoppingBox img:hover{
    background-color: #777;
  }
  
  .sideShoppingBox p {
    display:inline-block;
    width: 270px;
    height: 100px;
    
    position: absolute;
    top: 56px;
    left: 300px;
  
    font-size: 20px;
    line-height: 30px;
    color: #555;
    word-wrap: break-word;
    word-break: normal;
  
    transition: all .3s;
  }
  
  .sideShoppingBox p:hover{
    color: #000;
  }
  
  .sideShoppingBox .ant-select {
    width: 230px;
  
    position: absolute;
    top: 150px;
    left: 300px;
  }
  
  .sideShoppingBox .ant-select-selection{
    border: none;
    box-shadow: 0 0 0;
  }
  
  .sideShoppingBox .ant-select-open,.sideShoppingBox .ant-select-focused {
    border: none;
  }
  
  .sideShoppingBox .sideshopnumber{
    position: absolute;
    left: 300px;
    top: 220px;
  
  }
  
  .sideShoppingBox .sideshopnumber .ant-input-number{
    border-color: #fff;
  }
  
  .sideShoppingBox .sideshopnumber .ant-input-number-focused{
    box-shadow: #ffedf0;
  }
  
  .sideShoppingBox .sidePrice{
    position: absolute;
    left: 430px;
    top: 220px;
  
    font-size: 23px;
    line-height: 30px;
    color: #e31436 !important;
  }
  
  .sideRightShopBottom{
    height: 80px;
    width: 650px;
  
    background-color: #fff;
    
    position: absolute;
    bottom: 0px;
  }
  
  .sideRightShopCheckAll{
    position: relative;
  }
  
  .sideRightShopCheckAll .ant-checkbox{ 
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  
  .sideRightShopCheckAll .ant-checkbox-inner{
    width: 36px;
    height: 36px;
  
    top: 26px;
  
    border-radius: 18px;
  }
  
  .sideRightShopCheckAll .ant-checkbox-inner::after{
    left: 14px;
    top: 4px;
  
    width:10px;
    height: 20px;
  
    border-color: #e31436;
  }
  
  .sideRightShopCheckAll .ant-checkbox-checked::after{
    border: none;
  }
  
  .sideRightShopCheckAll .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #e31436;
  }
  
  .sideRightShopCheckAll .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
    border-color: #e31436;
    background-color: #fff;
  }
  
  .sideRightShopCheckAll .ant-checkbox-inner {
    border-color: #000;
  }
  
  .sideRightShopCheckAll .checkAll {
    display: inline-block;
    width: 80px;
    height: 300px;
    
    position: absolute;
    top: 42px;
    left: 80px;
  
    font-size: 26px;
    color: #000;
  
    transition: all .3s;
  }
  
  .sideRightShopCheckAll .checkAll:hover {
    color: #e31436;
  }
  
  .sideRightShopBottom p {
    position: absolute;
    bottom: 14px;
    left: 300px;
  
    font-size: 26px;
    color: #000;
  }
  
  .sideRightShopBottom p span {
    color: #e31436;
  }
  
  .sideRightShopBottom .send {
    width: 130px;
    height: 60px;
  
    border-radius: 30px;
  
    background-color: #e31436;
  
    position: absolute;
    right: 70px;
    top: 10px;
  
    outline: none;
  
    color: #fff;
  }