<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.ContentMapper">

    <select id="selectByTypeId" parameterType="java.lang.Integer" resultType="yunding.shop.entity.Content">
        SELECT * FROM t_content WHERE type = #{typeId}
    </select>
</mapper>