<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.GoodsMapper">

    <select id="selectByName" parameterType="java.lang.String" resultType="yunding.shop.entity.Goods">
        SELECT * FROM t_goods WHERE `name` LIKE #{name} AND state = 0
    </select>

    <select id="selectByPlatformCategoryId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Goods">
        SELECT  * FROM  t_goods
        WHERE  platform_goods_category_id = #{categoryId} AND state = 0
    </select>

    <select id="selectByShopCategoryId" parameterType="java.lang.Integer" resultType="yunding.shop.entity.Goods">
        SELECT  * FROM  t_goods WHERE  shop_id =#{shopId,jdbcType=INTEGER} AND  shop_goods_category_id = #{categoryId,jdbcType=INTEGER}
         AND state = 0
    </select>

    <select id="selectByGoodsId" parameterType="java.lang.Integer" resultType="yunding.shop.entity.Goods">
        SELECT * FROM t_goods WHERE goods_id = #{id}  AND state = 0
    </select>

    <select id="selectNameByKeyword" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `name` FROM t_goods WHERE `name` LIKE #{goodsName}  AND state = 0
    </select>

    <select id="selectByShopIdAndGoodsName" resultType="yunding.shop.entity.Goods">
        SELECT * FROM t_goods WHERE shop_id = #{shopId} AND `name` LIKE #{goodsName}  AND state = 0
    </select>
    
    <update id="updateStockAndSales" parameterType="yunding.shop.entity.Goods">
        UPDATE t_goods SET stock_num = #{stockNum} ,sales = #{sales} ,updated_at = #{updatedAt}
        WHERE goods_id = #{goodsId}  AND state = 0
    </update>

    <update id="commentGoods">
        UPDATE t_goods SET comment_num = comment_num+1 , updated_at = #{updatedAt} WHERE goods_id = #{goodsId}
    </update>


    <update id="updateGoodsInfo" parameterType="yunding.shop.entity.Goods">
        UPDATE  t_goods SET
        platform_goods_category_id = #{platformGoodsCategoryId},
        shop_goods_category_id = #{shopGoodsCategoryId},
        `name` = #{name},
        property = #{property},
        stock_num = #{stockNum},
        introduction = #{introduction},
        updated_at = #{updatedAt}
         WHERE goods_id = #{goodsId}

    </update>

    <select id="selectShopIdByGoodsId" parameterType="java.lang.Integer"
            resultType="java.lang.Integer">
        SELECT shop_id FROM t_goods WHERE goods_id = #{goodsId}
    </select>

    <update id="saveGoodsPhoto" parameterType="yunding.shop.entity.Goods">
        UPDATE t_goods SET picture = #{picture} ,
                            updated_at = #{updatedAt}
                            WHERE goods_id = #{goodsId}
    </update>

    <insert id="insertGoods" parameterType="yunding.shop.entity.Goods">
        INSERT INTO t_goods (
        shop_id,
        shop_name,
        platform_goods_category_id,
        shop_goods_category_id,
        `name`,
        property,
        stock_num,
        price,
        created_at,
        updated_at
        ) VALUES (
        #{shopId},
        #{shopName},
        #{platformGoodsCategoryId},
        #{shopGoodsCategoryId},
        #{name},
        #{property},
        #{stockNum},
        #{price},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <update id="deleteGoods" parameterType="yunding.shop.entity.Goods">
        UPDATE t_goods SET state = #{state},
                            updated_at = #{updatedAt}
                            WHERE goods_id = #{goodsId}
    </update>

    <select id="selectGoodsProperty" resultType="yunding.shop.entity.Goods">
        SELECT property, goods_id FROM t_goods WHERE `name` = #{name} AND shop_id = #{shopId} AND state = 0
    </select>

</mapper>