<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.GoodsMapper">
    <select id="selectByName" parameterType="java.lang.String" resultType="yunding.shop.entity.Goods">
        SELECT * FROM t_goods WHERE `name` LIKE #{name}
    </select>

    <select id="selectByPlatformCategoryId" parameterType="int"
            resultType="yunding.shop.entity.Goods">
        SELECT  * FROM  t_goods
        WHERE  platform_goods_category_id = #{categoryId}
    </select>

    <select id="selectByShopCategoryId" parameterType="int" resultType="yunding.shop.entity.Goods">
        SELECT  * FROM  t_goods WHERE  shop_id =#{shopId,jdbcType=INTEGER} AND  shop_goods_category_id = #{categoryId,jdbcType=INTEGER}
    </select>

    <select id="selectByGoodsId" parameterType="java.lang.Integer" resultType="yunding.shop.entity.Goods">
        SELECT * FROM t_goods WHERE goods_id = #{id}
    </select>

    <select id="selectNameByGoodsName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `name` FROM t_goods WHERE `name` LIKE #{goodsName}
    </select>

    <select id="selectByShopIdAndGoodsName" resultType="yunding.shop.entity.Goods">
        SELECT * FROM t_goods WHERE shop_id = #{shopId} AND `name` LIKE #{goodsName}
    </select>
</mapper>