<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="yunding.shop.entity.Order">
        INSERT INTO t_order (
        user_id,
        goods_id,
        goods_name,
        goods_num,
        unit_price,
        total_price,
        shop_id,
        shop_name,
        remark,
        address,
        phone_number,
        consignee_name,
        created_at,
        updated_at
        ) VALUES (
        #{userId},
        #{goodsId},
        #{goodsName},
        #{goodsNum},
        #{unitPrice},
        #{totalPrice},
        #{shopId},
        #{shopName},
        #{remark},
        #{address},
        #{phoneNumber},
        #{consigneeName},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <select id="selectByOrderId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Order">
        SELECT * FROM t_order WHERE order_id = #{orderId}
    </select>

    <update id="updateComment">
        UPDATE t_order SET comment = #{comment} WHERE order_id = #{orderId}
    </update>

    <select id="selectByUserId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Order">
        SELECT * FROM t_order WHERE user_id = #{userId}
    </select>

    <update id="updateState">
        UPDATE t_order SET state = #{state} WHERE order_id = #{orderId}
    </update>

    <select id="selectByShopId" parameterType="java.lang.Integer">
        SELECT * FROM t_order WHERE shop_id = #{shopId}
    </select>
</mapper>