<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.OrderMapper">

    <select id="selectByOrderId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Order">
        SELECT * FROM t_order WHERE order_id = #{orderId} AND state != -1
    </select>

    <select id="selectByUserId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Order">
        SELECT * FROM t_order WHERE user_id = #{userId} AND state != -1
    </select>

    <select id="selectByShopId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Order">
        SELECT * FROM t_order WHERE shop_id = #{shopId}
    </select>

    <select id="selectCommentByGoodsId" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.Comment">
        SELECT user_id , `comment` FROM t_order WHERE goods_id = #{goodsId}
    </select>

    <insert id="insertOrder" parameterType="yunding.shop.entity.Order">
        INSERT INTO t_order (
        user_id,
        goods_id,
        goods_name,
        goods_num,
        unit_price,
        total_price,
        shop_id,
        shop_name,
        remark,
        address,
        phone_number,
        consignee_name,
        created_at,
        updated_at
        ) VALUES (
        #{userId},
        #{goodsId},
        #{goodsName},
        #{goodsNum},
        #{unitPrice},
        #{totalPrice},
        #{shopId},
        #{shopName},
        #{remark},
        #{address},
        #{phoneNumber},
        #{consigneeName},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <update id="updateState" parameterType="yunding.shop.entity.Order">
        UPDATE t_order SET state = #{state}, updated_at = #{updatedAt} WHERE order_id = #{orderId}
    </update>

    <update id="userPay" parameterType="yunding.shop.entity.Order">
        UPDATE t_order SET alipay_num = #{alipayNum}, state = #{state}, updated_at = #{updatedAt} WHERE order_id = #{orderId}
    </update>

    <update id="sendGoods" parameterType="yunding.shop.entity.Order">
        UPDATE t_order SET state = #{state} ,
                            tracking_num = #{trackingNum},
                            express_company = #{expressCompany},
                            updated_at = #{updatedAt}
                            WHERE order_id = #{orderId}
    </update>

    <update id="updateComment" parameterType="yunding.shop.entity.Order">
        UPDATE t_order SET comment = #{comment},
                            state = #{state},
                            updated_at = #{updatedAt}
                            WHERE order_id = #{orderId}
    </update>

        </mapper>