<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yunding.shop.mapper.PlatformGoodsCategoryMapper">
    <select id="selectAll"
            resultType="yunding.shop.entity.PlatformGoodsCategory">
        SELECT * FROM t_platform_goods_category
    </select>

    <update id="updateGoodsNum">
        UPDATE t_platform_goods_category SET goods_num = goods_num + 1, updated_at = #{updatedAt}
        WHERE platform_goods_category_id = #{platformGoodsCategoryId}
    </update>

    <update id="updateAndDeleteGoodsNum">
        UPDATE t_platform_goods_category SET goods_num = goods_num - 1, updated_at = #{updatedAt}
        WHERE platform_goods_category_id = #{platformGoodsCategoryId}
    </update>

    <insert id="insertPlatformCategory" parameterType="yunding.shop.entity.PlatformGoodsCategory">
        INSERT INTO t_platform_goods_category(
        `name`,
        created_at,
        updated_at
        )VALUES (
        #{name},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

    <update id="updatePlatformCategory" parameterType="java.lang.Integer">
        DELETE FROM t_platform_goods_category
        WHERE platform_goods_category_id = #{categoryId}
    </update>



</mapper>