<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.ShopMapper">

    <select id="selectByName" parameterType="java.lang.String" resultType="yunding.shop.entity.Shop">
        SELECT * FROM t_shop WHERE `name` LIKE #{name} AND state = 0
    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="yunding.shop.entity.Shop">
        SELECT * FROM  t_shop WHERE shop_id = #{shopId} AND state = 0
    </select>

    <select id="selectUserIdByShopId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT user_id FROM  t_shop WHERE shop_id = #{shopId}
    </select>

    <select id="selectShopIdByUserId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT shop_id FROM  t_shop WHERE user_id = #{userId} AND state = 0
    </select>

    <select id="selectShopNameByShopId" parameterType="java.lang.Integer"
            resultType="java.lang.String">
        SELECT `name` FROM t_shop WHERE shop_id = #{shopId}
    </select>

    <update id="updateSales" parameterType="yunding.shop.entity.Shop">
        UPDATE t_shop SET sales = #{sales}, updated_at = #{updatedAt} WHERE shop_id = #{shopId} AND state = 0
    </update>
    
    <select id="selectAllShop" resultType="yunding.shop.entity.Shop">
        SELECT * FROM t_shop
    </select>

</mapper>