<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yunding.shop.mapper.UserMapper">

    <select id="selectById" parameterType="java.lang.Integer"
            resultType="yunding.shop.entity.UserInfo">
        SELECT * FROM t_user_info WHERE user_id = #{userId} AND state != -1
    </select>

    <update id="update"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id"
            parameterType="yunding.shop.entity.UserInfo">
        UPDATE t_user_info SET nick_name = #{nickName}, gender = #{gender},
        birthday = #{birthday}, phone_number = #{phoneNumber}, email = #{email}, updated_at = #{updatedAt} WHERE user_id = #{userId}
    </update>

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id"
            parameterType="yunding.shop.entity.UserInfo">
        INSERT t_user_info (nick_name, created_at, updated_at) VALUES (#{nickName}, #{createdAt}, #{updatedAt})
    </insert>
    
    <update id="updateAvatar" parameterType="yunding.shop.entity.UserInfo">
        UPDATE t_user_info SET avatar = #{avatar} , updated_at = #{updatedAt} WHERE user_id = #{userId} AND state != -1
    </update>

    <select id="selectNickNameById" resultType="java.lang.String">
        SELECT nick_name FROM t_user_info WHERE user_id = #{userId} AND state != -1
    </select>

</mapper>