<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <mvc:annotation-driven/>

    <mvc:interceptors>
        <!-- 使用bean定义一个Interceptor，直接定义在mvc:interceptors根下面的Interceptor将拦截所有的请求 -->
        <!--解决跨域-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="yunding.shop.config.AjaxInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/api/user/**"/>
            <mvc:mapping path="/api/orderInfo/**"/>
            <mvc:mapping path="/api/aliPay/purchase/**"/>
            <mvc:mapping path="/api/photo/**"/>
            <mvc:mapping path="/api/cartMap/**"/>
            <mvc:mapping path="/api/shopCategory/*"/>
            <mvc:mapping path="/api/goods/*"/>
            <mvc:exclude-mapping path="/api/user/checkLoginName/**"/>
            <mvc:exclude-mapping path="/api/user/login/**"/>
            <mvc:exclude-mapping path="/api/user/register/**"/>
            <mvc:exclude-mapping path="/api/verificationCode"/>
            <!-- 定义在mvc:interceptor下面的Interceptor表示是对特定的请求才进行拦截的 -->
            <bean class="yunding.shop.config.ApiInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <context:component-scan base-package="yunding.shop.web"/>

    <mvc:default-servlet-handler/>

    <bean id="viewResolverCommon" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
        <property name="orderInfo" value="0"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设定默认编码 -->
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- 设定文件上传的最大值5MB，5*1024*1024 -->
        <property name="maxUploadSize" value="52428800000"/>
        
        <property name="resolveLazily" value="true"/>
    </bean>

    <bean class="yunding.shop.config.beanConfig"/>

</beans>